name: Generate Skin Pack

on:
  workflow_dispatch

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      # Pull this repository
      - name: Download this project
        uses: actions/checkout@v3
        with:
          lfs: true
          path: minecraft_project

      # Install Python 3.10
      - name: Install Python 3.10
        uses: actions/setup-python@v3
        with:
          python-version: '3.10'

      # Initialize the project (generating UUIDs)
      - name: Initialize the project
        run: |
          cd minecraft_project
          python ./.github/python/generate_skin_pack.py

      # Commit the changes
      - name: Git Commit/Push Changes
        run: |
          cd minecraft_project
          git config user.name github-actions
          git config user.email github-actions@github.com
          git add -A
          git commit -m "Generated skin pack"
          git push
